{include file="Public:header" /}

    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span>批量添加栏目</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">

                <form action="{:url('Category/insertBatch')}" method="post"  id="form" enctype="multipart/form-data" >
                    
                    <table class="insert-tab" width="100%">
                        <tbody><tr>
                            <th width="120">上级栏目：</th>
                            <td>
                                <select name="pid">
                                    <option value="0">顶级栏目</option>
                                    {volist name='list' id='vo'}
                                    {between name="vo.level" value="0,8"}<option value="{$vo.catid}" >{:str_repeat("└─",$vo['level'])}{$vo.catname}</option>{/between}
                                    {/volist}
                                </select>
                            </td>
                        </tr>
                            <tr>
                                <th>栏目名称：</th>
                                <td><textarea name="catname" class="common-textarea"  style="width: 50%;" rows="10"></textarea>一行代表一个可选值</td>
                            </tr>
                             
                           
                            <tr>
                                <th>隐藏栏目：</th>
                                <td><input type="radio" name="ishidden" value="1" >隐藏&nbsp;&nbsp;&nbsp; <input type="radio" name="ishidden" value="0" checked="checked" >显示  </td>
                            </tr>
                             <tr>
                                <th>封面图片：</th>
                                <td>
                                  <div style=" margin-top:10px;">
                                    <div id="uploadimg">
                                        <div id="fileList" class="uploader-list" style="width: 100%; overflow: hidden;"></div>
                                        <div id="imgPicker">选择图片</div>
                                    </div>
                                   </div>
                                   <input id="select_picture" hidden="hidden" type="text" name="thumb"/>
                                   {include file="public:upload" /}
                                </td>
                            </tr>

                             <tr>
                                <th>栏目属性：</th>
                                <td><input type="radio" name="ispart" value="0" checked="checked" >最终列表（允许发表文档） <input type="radio" name="ispart" value="1" >频道封面（不允许发表文档） </td>
                            </tr>
                             <tr>
                                <th>封面模板：</th>
                                <td>
                                    <input class="common-text"  name="category" size="50"  value="category.html"   type="text">
                                </td>
                            </tr>
                            <tr>
                                <th>列表模板：</th>
                                <td>
                                    <input class="common-text"  name="list" size="50"  value="list.html"  type="text">
                                </td>
                            </tr>
                            <tr>
                                <th>文章模板：</th>
                                <td>
                                    <input class="common-text"  name="show" size="50"  value="show.html"  type="text">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody>
                        
                        </table>
                    
                   
                </form>
            </div>
        </div>
           
    </div>
    <!--/main-->
</div>
</body>
</html>