{include file="public:header" /}
<div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span>修改密码</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:url('Admin/password')}" method="post" id="myform" name="myform">
                    <table class="insert-tab" width="100%">
                        <tbody>
                        
                            <tr>
                                <th>原密码：</th>
                                <td>
                                    <input class="common-text" id="password_o" name="password_o" style=" width:400px;" type="password">
                                </td>
                            </tr>
                           <tr>
                                <th>新密码：</th>
                                <td>
                                    <input class="common-text" id="password_n" name="password_n" style=" width:400px;" type="password">
                                </td>
                            </tr>
                            <tr>
                                <th>重复密码：</th>
                                <td>
                                    <input class="common-text" id="password_r" name="password_r" style=" width:400px;" type="password">
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10"  value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>
