<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>fivecms安装</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/install/css/install.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
	<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
	<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="background:#EBF0F5">
<div style="background:#228BB5;height:80px;line-height:80px;margin-bottom:10px"><span style="margin-left:50px;"><img src="__PUBLIC__/install/images/logo.png" alt=""></span></div>
	<div class="container" style="background:#EBF0F5">
<div class="row">
  <div class="col-md-10 col-md-offset-1" >
  		<div class="row">
  			<div class="col-md-3" >
  						<div class="left fl">
							<div class="title">安装步骤</div>
							<div><span>安装协议</span></div>
							<div><span>环境检测</span></div>
							<div><span>创建数据库</span></div>
							<div><span>安装</span></div>
							<div class="active"><span>完成</span></div>
						</div>
			</div>
			<div class="col-md-9 right" >
				<div style="margin-top:20px;text-align:center">
				<h4>恭喜您，已经成功安装fivecms</h4>
					<hr>
				<div>
					<a class="btn btn-info" href="{$index_url}">访问系统前台</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="btn btn-success" href="{$admin_url}">访问系统后台</a>
				</div>
				
			</div>
			
			
		</div>
  </div>
</div>


</body>

</html>