<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>fivecms安装</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/install/css/install.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
	<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
	<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="background:#EBF0F5">
<div style="background:#228BB5;height:80px;line-height:80px;margin-bottom:10px"><span style="margin-left:50px;"><img src="__PUBLIC__/install/images/logo.png" alt=""></span></div>
	<div class="container" style="background:#EBF0F5">
<div class="row">
  <div class="col-md-10 col-md-offset-1" >
  		<div class="row">
  			<div class="col-md-3" >
  						<div class="left fl">
							<div class="title">安装步骤</div>
							<div><span>安装协议</span></div>
							<div class="active"><span>环境检测</span></div>
							<div><span>创建数据库</span></div>
							<div><span>安装</span></div>
							<div><span>完成</span></div>
						</div>
			</div>
			<div class="col-md-9 right" >
				
			 	<h3>系统环境检测</h3>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>检测项目</th>
							<th>最低需求</th>
							<th>当前配置</th>
						</tr>
					</thead>
					<tbody>
						{volist name="env" id="env"}
						<tr>
							<td>{$env['0']}</td>
							<td>{$env['1']}</td>
							<td>{$env['2']}</td>
						</tr>
						{/volist}
					</tbody>
				</table>
				<h3>文件权限检测</h3>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>目录/文件</th>
							<th>运行要求</th>
							<th>当前状态</th>
						</tr>
					</thead>
					<tbody>
						{volist name="dirfile" id="dirfile"}
						<tr>
							<td>{$dirfile['3']}</td>
							<td>可写</td>
							<td>{$dirfile['1']|get_write_color}</td>
						</tr>
						{/volist}
					</tbody>
				</table>
				<h3>运行函数检测</h3>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>函数名称</th>
							<th>运行要求</th>
							<th>检测结果</th>
						</tr>
					</thead>
					<tbody>
						{volist name="fun" id="fun"}
						<tr>
							<td>{$fun['0']}</td>
							<td>支持</td>
							<td>{$fun['1']|get_fun_color}</td>
						</tr>
						{/volist}
					</tbody>
				</table>
				
			</div>
			<div class="col-md-9 col-md-offset-3 footer" >
				<a class="btn btn-info" href="{:url('index/index')}">上一步</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a class="btn btn-success" href="{:url('index/step2')}">下一步</a>
			</div> 
			
		</div>
  </div>
</div>


	
</body>

</html>