<div class="footer">
  <div class="commonweb footerWeb">
    <ul class="clearfix yj_chan" id="wwfootone">
      
      <li class="li1">
        <h3>
          <a href="javascript:;">大栏目</a>
          <em></em>
        </h3>
        <ul class="wwfootdrop er_chan" id="wwfoottwo">
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          
        </ul>
      </li>
      
      <li class="li1">
        <h3>
          <a href="javascript:;">大栏目</a>
          <em></em>
        </h3>
        <ul class="wwfootdrop er_chan" id="wwfoottwo">
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          
        </ul>
      </li>
     <li class="li1">
        <h3>
          <a href="javascript:;">大栏目</a>
          <em></em>
        </h3>
        <ul class="wwfootdrop er_chan" id="wwfoottwo">
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          
        </ul>
      </li>
      <li class="li1">
        <h3>
          <a href="javascript:;">大栏目</a>
          <em></em>
        </h3>
        <ul class="wwfootdrop er_chan" id="wwfoottwo">
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          
        </ul>
      </li>
      <li class="li1">
        <h3>
          <a href="javascript:;">大栏目</a>
          <em></em>
        </h3>
        <ul class="wwfootdrop er_chan" id="wwfoottwo">
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          
        </ul>
      </li>
      <li class="li1">
        <h3>
          <a href="javascript:;">大栏目</a>
          <em></em>
        </h3>
        <ul class="wwfootdrop er_chan" id="wwfoottwo">
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          
        </ul>
      </li>
      <li class="li1">
        <h3>
          <a href="javascript:;">大栏目</a>
          <em></em>
        </h3>
        <ul class="wwfootdrop er_chan" id="wwfoottwo">
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          <li> <h4><a href="javascript:;">小栏目</a></h4></li>
          
        </ul>
      </li>
     
     
    
    
      <li class="li2">
        <p>扫描二维码，关注我们</p>
        <p class="code-img">
          <img src="__PUBLIC__/2016/picture/wqp_img10.jpg">
        </p>
        <p class="tel">
          客服热线：<a href="tel:10086">10086</a>
        </p>
      </li>
    </ul>
  </div>
</div>

<div class="footerBottom">
  <div class="commonweb clearfix">
    <div class="footer-text">
      <a href="javascript:;">联系我们</a>|<a href="javascript:;">网站地图</a>|<a href="javascript:;">关于我们</a>
    </div>
    <p class="footer-right">
      © 2016 版权所有
    </p>
  </div>
</div>

